<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-prtcare" value="https://nuget.pkg.github.com/prtcare/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-prtcare>
      <add key="Username" value="%GITHUB_PACKAGES_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_PACKAGES_TOKEN%" />
    </github-prtcare>
  </packageSourceCredentials>
</configuration>
